*{
  padding:0px;
  margin: 0px;
}
body{
  background-color: black;
  color: white;
}
.App {
  text-align: center;
}
.feautres{
  display: flex;
  width: 98%;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}